<% include ./partials/header %>

<div class="ui main text container">
  <div class="ui huge header"> Select a train </div>
  <div class="ui top attached segment">
      <form class = "ui form">
         <script src="https://sbhc.portalhc.com/189239/SearchBox/417098"></script>
      </form>
      <div class="ui right floated small primary labeled icon button" onClick="javascript:window.location.href = '/plan';">
        Skip Booking Hotel >
      </div>
  </div>
</div>

<% include ./partials/footer %>
