<% include ./partials/header %>
<%= console.log(data) %>
<div class="ui main text container">
  <div class="ui huge header"> Select a train </div>
  <div class="ui top attached segment">
      <form action="/step-1" method="post" class = "ui form">
        <div class="inline fields">
          <input type="hidden" name="train_number" value="">
          <label> Do you want to go site-seeing? </label>
          <div class="field">
            <div class="ui radio checkbox">
              <input name="site_seeing" value="true" type="radio">
              <label>Yes</label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox">
              <input name="site_seeing" value="false" type="radio">
              <label>No</label>
            </div>
          </div>
        </div>
        <div class="ui small primary button" onClick="javascript:this.parentNode.submit();">
          Continue >
        </div>
      </form>
  </div>
</div>

<% include ./partials/footer %>
